body {
  background-color: #F6CEF5;
}
header {
  border: 5px solid black;
  background-color: #6A0888;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  padding: 3px 3px 3px 3px;
  color: #FFFFFF;
  margin: 0 0 15px 0;
}
a {
  float: right;
}
img {
  float: right;
  margin: 0;
  width:30%;
  height: 30%;
}
h1 {
  font-family: 'Playfair display', serif;
  margin: 15px 0 15px 0;
  padding: 0 0 0 5px;
}
h1 p {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  font-size: 12px;
  padding: 0 0 0 8px;
}
