body {
  background-color: #F6CEF5;
}
header {
  border-radius: 5px solid ;
  background-color: #6A088;
}
h1 {
  font-family: 'Playfair display', serif;
  margin: 15px 0 15px 0;
  padding: 0 0 0 5px;
}
